/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2c3940;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 55%, 0.27);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 90%, 0.27);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
    background: hsla(176, 36%, 66%, 0.7);
}

:root {
    --modal-height: 400px;
}

.editor-wrapper {
    overflow: hidden;
    font-family: sans-serif;
}

.editor-body {
    overflow: hidden;
    height: calc(100vh - 63px)
}

.editor-header {
    color: hsl(255, 0%, 80%);
    display: flex;
    justify-content: space-between;
    background-color: #2c3940;
    overflow: hidden;
    height: 40px
}

.editor-header-left {
    font-family: Monospace;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.editor-header-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.editor-footer {
    display: flex;
    justify-content: space-between;
    background-color: #2c3940;
    height: 23px;
    text-align: center;
}


.editor-footer-version {
    font-size: 14px;
    background-color: hsl(176, 44%, 66%);
    color: #2c3940;
    padding: 0 15px 0 8px;
    cursor: pointer;
}

.editor-footer-language  {
    font-size: 14px;
    color: #607a85;
    padding: 0 20px;
}

.editor-footer-language:hover  {
    color: hsl(198, 16%, 65%);
    background-color: hsla(0, 0%, 40%, 0.27);
}

.editor-footer-language:active   {
    color: hsl(198, 16%, 85%);
    background-color: hsla(0, 0%, 55%, 0.68);
}

.editor-footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-modal {
    font-family: sans-serif;
    position: relative;
    top: 10%;  
    left: calc(50% - 350px); 
    background-color: #2c3940;
    width: 700px;
    height: var(--modal-height);
    /* overflow-y: scroll;
    overflow-x: hidden; */
    color: hsl(255, 0%, 80%);
}

.language-selection {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

.language-selection:hover {
    background-color: hsla(0, 0%, 55%, 0.27);
}

.language-selection:active {
    background-color: hsla(0, 0%, 55%, 0.88);
}

.language-icon {
    margin: 0 0 0 10px;
    height: 20px;
    width: 20px;
}

.language-search-container {
    display: flex;
    justify-content: center;
}

.language-search {
    font-size: 15px;
    padding: 5px;
    color: #fff;
    margin: 8px 10px 16px 10px;
    width: 100%;
    background-color: #37454a;
    border: 0.1px solid hsla(196, 15%, 55%, .3);
    outline: none !important;
}

.language-search-result {
    height: calc(var(--modal-height) - 60px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.status-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}

.status-dot-desync {
    background-color: #FFC107;
    box-shadow: 
        0 0 4px #FFC107,
        0 0 8px #FFC107;
}

.status-dot-sync {
    background-color: #4CAF50;
    box-shadow: 
        0 0 4px #4CAF50,
        0 0 8px #4CAF50;
}

.status-message {
    font-family: Monospace;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 22px 0 8px;
    padding-bottom: 2px;
}
